:root{
  --bg-dark: #5a2dcd;
  --bg-light: #7752d4;
  --bg-vivid: #EAEBFD;
  --button-green: #28a745;
  --border-black: #2D2D2D;
  --bg-black: #29292A;
  --bg-grey: #D8D8DF;
  --bg-white: #fEfEfE;
  --bg-white-2: #EDEDEF; 
  --text-light: #FFF; 
  --text-light-2: #EDEDEF; 
  --mic-compare: #fDfDfD;
  --logo-height: 100px;
  --header-height: 100px;
  --aside-width: 225px;
  --footer-height: 40px;

  --shadow: 
      0 2px 23px 0 rgba(0,0,0, 0.1),
      0 2px 49px 0 rgba(0,0,0, 0.6);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
}

body{
  background-color: var(--bg-vivid) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scape-sidebar{
  margin-top: 120px;
}
.mic-active{
  border-bottom: 2px solid var(--bg-dark);
}
.compare-ok{
  color: #28a745;
}
.compare-fail{
  color:#ffecb5
}
.bg-white{
  background-color: var(--mic-compare);
}
.form-control-color{
  width: 20px !important;
  padding: 0 !important;
  margin: 4px;
  border: none;
}
.navbar{
  background: transparent !important;
  transition: all ease 0.5s;
}
.toast-container{
  z-index: 1;
}
.toast-header, .toast-body{
  color: var(--bg-white);
}

.my-toast{
  z-index: 10 !important;
  min-width: 300px;
  position: fixed;
  right: 20px;
  top: 15%;
  border-radius: 4px;
  animation: fadein 0.5s;
}

.my-toast header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  width: 100%;
  border-bottom: 1px solid #D8D8DF;
}
.my-toast div{
  padding: 8px;
}

.my-toast-success{
  background-color: #28a745;
  color: var(--bg-white);
}

.my-toast-danger{
  background-color: #e24d4d;
  color: var(--bg-white);
}

.my-toast-default{
  background-color: #8D8D8F;
  color: var(--bg-white);
}

.my-toast-secondary{
  background-color: var(--bg-black);
}
.navbar-light .navbar-nav .nav-link{
  color: var(--bg-black) !important;
}
.btn-primary{
  background: var(--bg-light) !important;
  color: var(--text-light) !important;
}
.black-purple{
  background: var(--bg-light) !important;
  color: var(--text-light) !important;
  border-bottom: 1px solid var(--bg-white);
}

.navbar-light .navbar-nav .active-link{
  font-weight: bold;
  border-bottom: 1px solid var(--bg-light);
}

.black-purple .navbar-nav .nav-link, .black-purple a[rel="noreferrer"]{
  color: var(--text-light) !important;
}
.mb-60{
  margin-bottom: 60px;
}
.mh-20{
  margin: 0 20px !important;
}
.mh-x2{
  margin-left: 2px;
  margin-right: 2px;
}

.loading{
  display: flex;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--bg-dark);
}

.loading-2{
  position: absolute;
  z-index: 2000;
  background-color: rgba(45, 45, 45, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.flex-about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-light);
  background: linear-gradient(to top, var(--bg-dark), transparent);
}

.about-text{
  width: 50%;
  padding: 8px;
  font-weight: bold;
}
.flip-leave-active {
  animation: flip-out 0.3s ease;
}
.flex-about a{
  color: var(--text-light);
  text-decoration: none;
}
.flex-about a:hover{
  color: var(--text-light);
  text-decoration: underline;
}
.flex-center{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: left;
  /* height: 100vh; */
}

.full-height{
  height: 100vh;
}

.flex-vertical{
  flex-direction: column;
}
.flex-inline{
  width: 60%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* box-shadow: 0 0 4px #222; */
}

.flex-start{
  justify-content: flex-start !important;
}

.flex{
  display: flex;
}
.flex-between{
  justify-content: space-between;
}
.flex-text{
  width: 100%;
  margin-top: 14px;
}
.pronounce-filters {
  background: var(--bg-white);
  box-shadow: 0 0 4px var(--border-black);
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
}
.list{
  display: flex;
  padding: 8px;
  background: var(--bg-white);
  border-radius: 4px;
  margin: 8px;
}

.list-phrase{
  flex: 1;
}

.list-pronounce{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: var(--bg-grey); */
  color: var(--bg-black);
  font-weight: bolder;
}
.list-pronounce > div{
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0 6px;
  
}
.shadow-success{
  box-shadow: inset 0 0 6px #28a745;
}
.shadow-danger{
  box-shadow: inset 0 0 6px #e24d4d;
}

.list-pronounce, .list-pronounce > div{
  margin-right: 4px;
}

.histories{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  word-break: break-word;
  color: var(--bg-white);
  /* background: var(--bg-black); */
  background: url("../../public/images/black-370118_1280.png") no-repeat;
  width: 100%;
}

.histories-score{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.histories-score div{
  margin: 0 6px;
  padding: 4px 8px;
  border-radius: 4px;
  background: #5a2dcd;
}
.histories-score span{
  margin-left: 4px;
  padding: 0 8px;
  border-radius: 4px;
  background: var(--bg-white);
  color: var(--bg-light);
  font-weight: bolder;
}
.histories-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 8px;
  padding: 4px;
}
.histories-content-disabled{
  opacity: 0.4;
}

.histories-content div.clicable{
  background: var(--bg-white);
  border-radius: 4px 4px 4px 0;
  /* box-shadow: 0 0 4px var(--bg-black); */
  padding: 6px;
  font-size: 18px;
  color: var(--bg-black);
}

.histories-content .histories-reasons .btn{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-right: 4px;
}
.histories-content .histories-reasons{
  display: flex;
  flex-direction: row;
}

.button-circle {
  border: none;
  color: var(--bg-black);
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  border-radius: 50%;
}

.button-purple{
  background-color: var(--bg-dark);
  color: var(--bg-white);
}
.button-circle:hover{
  background-color: var(--bg-grey);
}
.button-purple:hover{
  background-color: var(--bg-light);
}
.circle-disable{
  opacity: 0.6;
}
.clicable{
  cursor: pointer;
}

/* Footer */
footer.footer{
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  text-align: center;
  background-color: var(--bg-dark);
  /* background: linear-gradient(to top, var(--bg-dark) 10%, transparent 90%); */
  color: var(--text-light);
  width: 100%;
}

.footer.footer a{
  color: var(--text-light);
  text-decoration: none;
}

.footer.footer a:hover{
  color: var(--text-light-2);
  text-decoration: underline;
}

.article{
  margin: 14px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  padding: 12px;
}
.article span{
  text-align: right;
}
.article button{
  position: absolute;
  right: 10px;
}

.informations{
  list-style: none;
}

.links-outline > a{
  color: var(--bg-dark);
  text-decoration: none;
  margin: 0 8px;
  font-size: 20px
}
.links-outline a:hover{
  color: var(--bg-light)
}

/* Recognizer */
.textarea{
  border: none;
  border-bottom: 1px solid var(--bg-dark);
  background-color: var(--mic-compare);
  border-radius: 0;
  width: 100%;
}

input:focus, textarea:focus, select:focus{
  outline: none !important;
  box-shadow: none !important;
}

.box-2{
  position: relative;
  display: flex;
  margin: 34px;
  padding: 8px;
  width: 50%;
  height: 200px;
  background-color: var(--bg-white);
  box-shadow: inset 0 0 4px var(--border-black);
  border-radius: 4px;
  word-wrap: break-word;
}

.speech-container{
  display: flex;
  flex-direction: column;
  margin: 34px 0;
  width: 100%;
  background-color: var(--bg-white);
  box-shadow: 0 0 4px var(--border-black);
  border-radius: 4px;
  word-wrap: break-word;
}
.speech-container label{
  padding: 8px 8px 0 8px
}

.speech-container > .speech-buttons{
  padding: 0 8px;
}
.speech-container > .speech-buttons button{
  margin: 0 2px;
}
.speech-container .speech-reason{
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.speech-container textarea{
  border: none !important;
  resize: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid var(--bg-dark) !important;
}

.speech-container hr{
  color: var(--bg-dark);
}

.speech-success{
  background-color: #28a745;
  color: var(--bg-white);
  border-radius: 4px;
  padding: 2px;
}

.speech-danger{
  background-color: #e24d4d;
  color: var(--bg-white);
  border-radius: 4px;
  padding: 2px;
}

.right{
  float: right;
}

.back-top{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: transparent;
  color: transparent;
  padding: 8px;
  border-radius: 4px;
  border: none;
  transition: all ease 1s;
}

.toggle-language{
  display: flex;
  color: var(--bg-white);
}
.toggle-language i{
  color: var(--bg-light);
}
.toggle-language div{
  opacity: 0.4;
  padding: 6px 12px;
  color: var(--bg-dark);
  background: var(--bg-white);
}
.toggle-language button{
  flex: 1;
  border: none;
  border-bottom: 1px solid var(--bg-light);
  background: var(--bg-white);
}

.toggle-language button:hover{
  background: var(--bg-white-2);
}
.active-language{
  opacity: 1 !important;
  font-weight: bold;
  border-bottom: 1px solid var(--bg-light);
}

.on-top{
  background-color: var(--bg-white);
  color: var(--bg-dark);
}
.back-top:hover{
  background-color: var(--bg-dark);
  color: var(--text-light-2);
  box-shadow: 0 0 4px var(--bg-black);
}

.button-fixed-left-down{
  position: fixed;
  left: 20px;
  bottom: 20px;
}
.image{
  position: relative;
  width: 200px;
  height: 200px;
}
.image img{
  border-radius: 100px !important;
}

.links-vertical{
  background-color: #5a2dcd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30vh;
  box-shadow: 0 0 4px var(--border-black);
}
.link-vertical-item{
  background-color: var(--bg-dark);
  text-decoration: none;
  flex: 1;
  text-align: center;
  padding-top: 4px;
  color: var(--bg-white);
}
.link-vertical-item:nth-child(2){
  background: url("../../public/images/the-imaginner.png") no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0 0 1px var(--border-black);
}
.link-vertical-item:first-child, .link-vertical-item:last-child{
  background: url("../../public/images/black-370118_1280.png") no-repeat;
}
.link-vertical-item:hover{
  cursor: pointer;
  color: var(--bg-white);
  font-weight: bold;
  box-shadow: inset 0 0 24px var(--bg-white);
  animation: ligthIn 0.5s ease-in;
}

.circle {
  animation: 2s infinite alternate circle;
}

@keyframes circle {
  from {
    -webkit-clip-path: circle(0%);
    clip-path: circle(0%);
  }
  to {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
  }
}

@keyframes ligthIn{
  from {box-shadow: inset 0 0 1px var(--border-black);}
  to {box-shadow: inset 0 0 24px var(--bg-white);}
}

/* Animations */
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 650px)
{
  h1{
    font-size: 22px !important;
  }
  h3{
    font-size: 16px !important;
  }
  .box-buttons{
    display: flex;
    flex-direction: row;
  }
  .box-2{
    width: 100%;
  }
  .flex-center{
    height: auto;
  }
  .flex-inline{
    display: flex;
    flex-direction: column;
  }

  .links-vertical{
    display: flex;
    flex-direction: column;
    height: 90vh;
  }

  .flex-about{
    height: auto;
  }
  
  .about-text{
    width: 90%;
  }
  .table-responsive {
      display: block;
      position: relative;
      width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
      display: block;
  }
  .table-responsive td,
  .table-responsive th {
      height: 35px;
  }
  .table-responsive thead {
      float: left;
  }
  .table-responsive tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
  }
  .table-responsive tbody tr {
      display : inline-block;
  }
}